<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta name="viewport" content="width=device-width initial-scale=1">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<style>
    .me{
    	l
    }
	</style>
</head>
<body>
	<div class="container-fluid">
	<!--the problem with accordion can be resolved if navbar is deleted-->
	  	<nav class="navbar navbar-default" style="margin-bottom:0;">
		 	<div class="navbar-header">
		 	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		 	            <span class="sr-only">Toggle navigation</span>
		 	            <span class="icon-bar"></span>
		 	            <span class="icon-bar"></span>
		 	            <span class="icon-bar"></span>
		 	    </button>
		 		<a href="#" class="navbar-brand">Assignment 1</a>
		 	</div>

		 	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		 		<ul class="nav navbar-nav">
		 			<li>
			 			<a href="../home.blade.php">Home<span class="sr-only">(current)</span></a>
		 			</li>
		 			<li><a href="../compare.html">Chart</a></li>
		 			<li><a href="../about.html">About Us</a></li>
		 			<li><a href="../question.html">Participate</a></li>
		 		</ul>
		 		<form class="navbar-form navbar-left" role="search">
	 		        <div class="form-group">
	 		          <input type="text" class="form-control" placeholder="Search">
	 		        </div>
	 		        <button type="submit" class="btn btn-default">Search</button>
		 		</form>
		 	</div>
	 	</nav>		
	 	<div class="row">
		 	<div class="col-sm-4">
		 		<ul style="list-style-type:none;">
		 			<li><a href="admin_post.html">Insert/Update Post</a></li>
		 			<li><a href="manage_collage.html">Add collage/factor</a></li>
		 			<li><a href="#">Add image</a></li>
		 			<li><a href="#">Manage questions</a></li>
		 		</ul>
		 	</div>

		 	<div class="col-sm-8">
		 		<div class="panel-group" id="accordion">
			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-1" data-toggle="collapse" data-parent="#accordion">News</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse in" id="content-1">
			 				<div class="panel-body">
		                        <ul class="nav nav-tabs">
			                        <li class="active"><a href="#new" data-toggle="tab" >Insert News</a></li>
		                        	<li><a href="#update" data-toggle="tab" >Manage News</a></li> 	
		                        </ul>
		                        <div class="tab-content">
		                        	<div class="tab-pane fade" id="update">
			                        	<form action="">
			                        		<table class="table table-hover">
	                    				 	<tr>
	                    				 		<td>News</td>
	                    				 		<td>Content</td>
	                    				 		<td>action</td>
	                    				 	</tr>

	                    				 	<tr>
	                    				 		<td>News 1</td>
	                    				 		<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ratione nemo minima necessitatibus reprehenderit at, excepturi, laborum incidunt enim dolores sapiente architecto velit eaque molestias consequuntur temporibus quisquam suscipit? Iste.</td>
	                    				 		<td>
	                    				 			<button class="btn btn-primary" name="update1" id="update1">Update</button>
	                    				 			<button class="btn btn-danger" name="delete1" id="delete1">Delete</button>
	                    				 		</td>
	                    				 	</tr>

	                    				 	<tr>
	                    				 		<td>News 2</td>
	                    				 		<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur soluta corporis omnis doloribus hic minima ad est praesentium laborum, itaque totam ea, esse a numquam illum. Corporis cupiditate esse dicta.</td>
	                    				 		<td>
	                    				 			<button class="btn btn-primary">Update</button>
	                    				 			<button class="btn btn-danger">Delete</button>
	                    				 		</td>
	                    				 	</tr>

	                    				 	<tr>
	                    				 		<td>News 3</td>
	                    				 		<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla accusantium dolor similique magni quos alias, architecto voluptas magnam perspiciatis, inventore soluta repudiandae. Consectetur facere aspernatur tenetur accusantium. Molestiae, sequi, consequatur!</td>
	                    				 		<td>
	                    				 			<button class="btn btn-primary">Update</button>
	                    				 			<button class="btn btn-danger">Delete</button>
	                    				 		</td>
	                    				 	</tr>
			                        		</table>
			                        	</form>
			                        	<script>
											window.getElementById("delete1").onClick(
												alert("are you sure you want to delete this post? if so press ok");
											)
			                        	</script>
		                        	</div>
		                        	<div class="tab-pane fade" id="new" class="active">
		                        		<form action="" method="post" enctype="multipart/form-data">
										    <table class="table table-hover table-responsive">
										    	<tr>
										    	    <td>Category</td>
										    		<td>
										    			<select name="cat_id" class="form-control">
										    			    <option value="null"></option>
										    			    <option value="home">Home</option>
										    			</select>
										    		</td>
										    	</tr>
										    	<tr>
										    		<td>Post Title</td>
										    		<td><input type="text" name="post_title" class="form-control"></td>
										    	</tr>
										    	<tr>
										    	    <td>Post Date</td>
										            <td><input type="date" name="post_date" class="form-control"></td>
										    	</tr>
										    	<tr>
										    		<td>Post Author</td>
										    		<td><input type="text" name="post_author" class="form-control"></td>
										    	</tr>
										    	<tr>
										    		<td>Post Content</td>
										    		<td><textarea name="post_content" id="elm1" rows="23" class="form-control"></textarea></td>
										    	</tr>
										    	<tr>
										    		<td>Upload Image</td>
										    		<td><input type="file" name="post_image" class="form-control"></td>
										    	</tr>
										    	<tr id="submit"><td colspan="2"><input type="submit" name="submit" value="submit" class="btn btn-primary"></td></tr>
										    </table>
									    </form>
		                        	</div>
		                        </div>
			 				</div>
			 			</div>
			 		</div>
		 		</div>
		 		<div class="panel panel-default">
		 			<div class="panel-heading">
		 				<h4 class="panel-title"><a href="#content-2" data-toggle="collapse" data-parent="#accordion">About Us</a></h4>
		 			</div>
		 			<div class="panel-collapse collapse" id="content-2">
		 				<div class="panel-body">
	                        <ul class="nav nav-tabs">
		                        <li class="active"><a href="#new_post" data-toggle="tab" >Insert New</a></li>
	                        	<li><a href="#manage_post" data-toggle="tab" >Manage Post</a></li> 	
	                        </ul>
	                        <div class="tab-content">
	                        	<div class="tab-pane fade" id="manage_post">
		                        	<form action="">
		                        		<table class="table table-hover">
	                				 	<tr>
	                				 		<td>Post</td>
	                				 		<td>Content</td>
	                				 		<td>action</td>
	                				 	</tr>

	                				 	<tr>
	                				 		<td>Post 1</td>
	                				 		<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ratione nemo minima necessitatibus reprehenderit at, excepturi, laborum incidunt enim dolores sapiente architecto velit eaque molestias consequuntur temporibus quisquam suscipit? Iste.</td>
	                				 		<td>
	                				 			<button class="btn btn-primary" name="update1" id="update1">Update</button>
	                				 			<button class="btn btn-danger" name="delete1" id="delete1">Delete</button>
	                				 		</td>
	                				 	</tr>

	                				 	<tr>
	                				 		<td>Post 2</td>
	                				 		<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur soluta corporis omnis doloribus hic minima ad est praesentium laborum, itaque totam ea, esse a numquam illum. Corporis cupiditate esse dicta.</td>
	                				 		<td>
	                				 			<button class="btn btn-primary">Update</button>
	                				 			<button class="btn btn-danger">Delete</button>
	                				 		</td>
	                				 	</tr>

	                				 	<tr>
	                				 		<td>Post 3</td>
	                				 		<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla accusantium dolor similique magni quos alias, architecto voluptas magnam perspiciatis, inventore soluta repudiandae. Consectetur facere aspernatur tenetur accusantium. Molestiae, sequi, consequatur!</td>
	                				 		<td>
	                				 			<button class="btn btn-primary">Update</button>
	                				 			<button class="btn btn-danger">Delete</button>
	                				 		</td>
	                				 	</tr>
		                        		</table>
		                        	</form>
		                        	<script>
										window.getElementById("delete1").onClick(
											alert("are you sure you want to delete this post? if so press ok");
										)
		                        	</script>
	                        	</div>
	                        	<div class="tab-pane fade" id="new_post" class="active">
	                        		<form action="" method="post" enctype="multipart/form-data">
									    <table class="table table-hover table-responsive">
									    	<tr>
									    	    <td>Category</td>
									    		<td>
									    			<select name="cat_id" class="form-control">
									    			    <option value="null"></option>
									    			    <option value="home">Home</option>
									    			</select>
									    		</td>
									    	</tr>
									    	<tr>
									    		<td>Post Title</td>
									    		<td><input type="text" name="post_title" class="form-control"></td>
									    	</tr>
									    	<tr>
									    	    <td>Post Date</td>
									            <td><input type="date" name="post_date" class="form-control"></td>
									    	</tr>
									    	<tr>
									    		<td>Post Author</td>
									    		<td><input type="text" name="post_author" class="form-control"></td>
									    	</tr>
									    	<tr>
									    		<td>Post Content</td>
									    		<td><textarea name="post_content" id="elm1" rows="23" class="form-control"></textarea></td>
									    	</tr>
									    	<tr>
									    		<td>Upload Image</td>
									    		<td><input type="file" name="post_image" class="form-control"></td>
									    	</tr>
									    	<tr id="submit"><td colspan="2"><input type="submit" name="submit" value="submit" class="btn btn-primary"></td></tr>
									    </table>
								    </form>
	                        	</div>
	                        </div>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		</div>

	</div>
	 <script src="../js/jquery.js"></script>
	 <script src="../js/bootstrap.js"></script>
</body>
</html>