 <!DOCTYPE html>
 <html>
 <head>
 	<title>Chart</title>
 	<meta name="viewport" content="width = device-width initial-scale = 1">
 	<link rel="stylesheet" href="css/bootstrap.css"/>
 </head>
 <body>
	 <div class="container-fluid">
	 	<nav class="navbar navbar-default" style="margin-bottom:0;">
		 	<div class="navbar-header">
		 	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		 	            <span class="sr-only">Toggle navigation</span>
		 	            <span class="icon-bar"></span>
		 	            <span class="icon-bar"></span>
		 	            <span class="icon-bar"></span>
		 	    </button>
		 		<a href="#" class="navbar-brand">Assignment 1</a>
		 	</div>

		 	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		 		<ul class="nav navbar-nav">
		 			<li >
			 			<a href="home.blade.php">Home<span class="sr-only">(current)</span></a>
		 			</li>
		 			<li class="active"><a href="compare.html">Chart</a></li>
		 			<li><a href="about.html">About Us</a></li>
		 			<li><a href="question.html">Participate</a></li>
		 		</ul>
		 		<form class="navbar-form navbar-left" role="search">
	 		        <div class="form-group">
	 		          <input type="text" class="form-control" placeholder="Search">
	 		        </div>
	 		        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"> Search</button>
		 		</form>
		 	</div>
	 	</nav>

	 	<div class="row main_content" style="margin-top:10px;">
	 		<div class="col-sm-8 content" >
	 			<h1>Collage Ranking</h1>
	 			<div class="panel-group" id="accordion">
			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-1" data-toggle="collapse" data-parent="#accordion">1. Addis Ababa University</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse in" id="content-1">
				 			
				 			<div class="row">
				 				<div class="col-xs-12" style="text-align:center;"><h3>Select department to compare</h3></div>
				 			</div>
				 			<div class="row">
					 			<div class="col-sm-6" style="text-align:left; ">
					 			    <div class="col-xs-1"><!--left margin--></div>
					 			    <div class="col-xs-10">
			                            <form action="" class="form">
							                            <label for="department_science" >Natural Science</label><br>
							                            <input type="radio" name="department"> IT <br>
							                            <input type="radio" name="department"> Engineering <br>
							                            <input type="radio" name="department"> Medicine <br>        
					                            </div>
					                            <div class="col-xs-1"><!--right margin--></div>
					                        </div>

					                        <div class="col-sm-6" style="text-align:left; ">
								 			    <div class="col-xs-1"><!--left margin--></div>
								 			    <div class="col-xs-10">      
							                            <label for="department_social" >Social Science</label><br>
							                            <input type="radio" name="department"> Accounting <br>
							                            <input type="radio" name="department"> Economics <br>
							                            <input type="radio" name="department"> Managment <br>
						                            </div>
						                             <div class="col-xs-1"><!--right margin--></div>
						                        </div>
					                        </div>
					                        <br>
					                        <div class="row">
						                        <div class="col-sm-2" style="text-align:center;">
						                        	<span></span>
						                        </div>
					                        	<div class="col-sm-5">
					                        			<select name="compare_with" id="" class="form-control" style="width:80%; margin:5px auto;">
					                        				<option value="null">--Compare with--</option>
					                        				<option value="AAU">Addis Ababa University</option>
					                        				<option value="JU">Jimma University</option>
					                        				<option value="ASTU">Adama University</option>
					                        			</select>
	                        		    </form>
	                        	</div>

	                        	<div class="col-sm-5">
	                        		<a href="chart.html"><button class="btn btn-primary">Compare</button></a>
	                        	</div>
	                        </div>
	                        <br>
			 			</div>
			 		</div>

			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-2" data-toggle="collapse" data-parent="#accordion">2. Adama University</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse" id="content-2">
				 			
				 			<div class="row">
				 				<div class="col-xs-12" style="text-align:center;"><h3>Select department to compare</h3></div>
				 			</div>
				 			<div class="row">
					 			<div class="col-sm-6" style="text-align:left; ">
					 			    <div class="col-xs-1"><!--left margin--></div>
					 			    <div class="col-xs-10">
			                            <form action="" class="form">
							                            <label for="department_science" >Natural Science</label><br>
							                            <input type="radio" name="department"> IT <br>
							                            <input type="radio" name="department"> Engineering <br>
							                            <input type="radio" name="department"> Medicine <br>        
					                            </div>
					                            <div class="col-xs-1"><!--right margin--></div>
					                        </div>

					                        <div class="col-sm-6" style="text-align:left; ">
								 			    <div class="col-xs-1"><!--left margin--></div>
								 			    <div class="col-xs-10">      
							                            <label for="department_social" >Social Science</label><br>
							                            <input type="radio" name="department"> Accounting <br>
							                            <input type="radio" name="department"> Economics <br>
							                            <input type="radio" name="department"> Managment <br>
						                            </div>
						                             <div class="col-xs-1"><!--right margin--></div>
						                        </div>
					                        </div>
					                        <br>
					                        <div class="row">
						                        <div class="col-sm-2" style="text-align:center;">
						                        	<span></span>
						                        </div>
					                        	<div class="col-sm-5">
					                        			<select name="compare_with" id="" class="form-control" style="width:80%; margin:5px auto;">
					                        				<option value="null">--Compare with--</option>
					                        				<option value="AAU">Addis Ababa University</option>
					                        				<option value="JU">Jimma University</option>
					                        				<option value="ASTU">Adama University</option>
					                        			</select>
	                        		    </form>
	                        	</div>

	                        	<div class="col-sm-5">
	                        		<button class="btn btn-primary">Compare</button>
	                        	</div>
	                        </div>
	                        <br>
			 			</div>
			 		</div>

			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-3" data-toggle="collapse" data-parent="#accordion">3. Mekele University</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse" id="content-3">
				 			
				 			<div class="row">
				 				<div class="col-xs-12" style="text-align:center;"><h3>Select department to compare</h3></div>
				 			</div>
				 			<div class="row">
					 			<div class="col-sm-6" style="text-align:left; ">
					 			    <div class="col-xs-1"><!--left margin--></div>
					 			    <div class="col-xs-10">
			                            <form action="" class="form">
							                            <label for="department_science" >Natural Science</label><br>
							                            <input type="radio" name="department"> IT <br>
							                            <input type="radio" name="department"> Engineering <br>
							                            <input type="radio" name="department"> Medicine <br>        
					                            </div>
					                            <div class="col-xs-1"><!--right margin--></div>
					                        </div>

					                        <div class="col-sm-6" style="text-align:left; ">
								 			    <div class="col-xs-1"><!--left margin--></div>
								 			    <div class="col-xs-10">      
							                            <label for="department_social" >Social Science</label><br>
							                            <input type="radio" name="department"> Accounting <br>
							                            <input type="radio" name="department"> Economics <br>
							                            <input type="radio" name="department"> Managment <br>
						                            </div>
						                             <div class="col-xs-1"><!--right margin--></div>
						                        </div>
					                        </div>
					                        <br>
					                        <div class="row">
						                        <div class="col-sm-2" style="text-align:center;">
						                        	<span></span>
						                        </div>
					                        	<div class="col-sm-5">
					                        			<select name="compare_with" id="" class="form-control" style="width:80%; margin:5px auto;">
					                        				<option value="null">--Compare with--</option>
					                        				<option value="AAU">Addis Ababa University</option>
					                        				<option value="JU">Jimma University</option>
					                        				<option value="ASTU">Adama University</option>
					                        			</select>
	                        		    </form>
	                        	</div>

	                        	<div class="col-sm-5">
	                        		<button class="btn btn-primary">Compare</button>
	                        	</div>
	                        </div>
	                        <br>
			 			</div>
			 		</div>

			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-4" data-toggle="collapse" data-parent="#accordion">4. Haromaya University</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse" id="content-4">
				 			
				 			<div class="row">
				 				<div class="col-xs-12" style="text-align:center;"><h3>Select department to compare</h3></div>
				 			</div>
				 			<div class="row">
					 			<div class="col-sm-6" style="text-align:left; ">
					 			    <div class="col-xs-1"><!--left margin--></div>
					 			    <div class="col-xs-10">
			                            <form action="" class="form">
							                            <label for="department_science" >Natural Science</label><br>
							                            <input type="radio" name="department"> IT <br>
							                            <input type="radio" name="department"> Engineering <br>
							                            <input type="radio" name="department"> Medicine <br>        
					                            </div>
					                            <div class="col-xs-1"><!--right margin--></div>
					                        </div>

					                        <div class="col-sm-6" style="text-align:left; ">
								 			    <div class="col-xs-1"><!--left margin--></div>
								 			    <div class="col-xs-10">      
							                            <label for="department_social" >Social Science</label><br>
							                            <input type="radio" name="department"> Accounting <br>
							                            <input type="radio" name="department"> Economics <br>
							                            <input type="radio" name="department"> Managment <br>
						                            </div>
						                             <div class="col-xs-1"><!--right margin--></div>
						                        </div>
					                        </div>
					                        <br>
					                        <div class="row">
						                        <div class="col-sm-2" style="text-align:center;">
						                        	<span></span>
						                        </div>
					                        	<div class="col-sm-5">
					                        			<select name="compare_with" id="" class="form-control" style="width:80%; margin:5px auto;">
					                        				<option value="null">--Compare with--</option>
					                        				<option value="AAU">Addis Ababa University</option>
					                        				<option value="JU">Jimma University</option>
					                        				<option value="ASTU">Adama University</option>
					                        			</select>
	                        		    </form>
	                        	</div>

	                        	<div class="col-sm-5">
	                        		<button class="btn btn-primary">Compare</button>
	                        	</div>
	                        </div>
	                        <br>
			 			</div>
			 		</div>

			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-5" data-toggle="collapse" data-parent="#accordion">5. Axum University</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse" id="content-5">
				 			
				 			<div class="row">
				 				<div class="col-xs-12" style="text-align:center;"><h3>Select department to compare</h3></div>
				 			</div>
				 			<div class="row">
					 			<div class="col-sm-6" style="text-align:left; ">
					 			    <div class="col-xs-1"><!--left margin--></div>
					 			    <div class="col-xs-10">
			                            <form action="" class="form">
							                            <label for="department_science" >Natural Science</label><br>
							                            <input type="radio" name="department"> IT <br>
							                            <input type="radio" name="department"> Engineering <br>
							                            <input type="radio" name="department"> Medicine <br>        
					                            </div>
					                            <div class="col-xs-1"><!--right margin--></div>
					                        </div>

					                        <div class="col-sm-6" style="text-align:left; ">
								 			    <div class="col-xs-1"><!--left margin--></div>
								 			    <div class="col-xs-10">      
							                            <label for="department_social" >Social Science</label><br>
							                            <input type="radio" name="department"> Accounting <br>
							                            <input type="radio" name="department"> Economics <br>
							                            <input type="radio" name="department"> Managment <br>
						                            </div>
						                             <div class="col-xs-1"><!--right margin--></div>
						                        </div>
					                        </div>
					                        <br>
					                        <div class="row">
						                        <div class="col-sm-2" style="text-align:center;">
						                        	<span></span>
						                        </div>
					                        	<div class="col-sm-5">
					                        			<select name="compare_with" id="" class="form-control" style="width:80%; margin:5px auto;">
					                        				<option value="null">--Compare with--</option>
					                        				<option value="AAU">Addis Ababa University</option>
					                        				<option value="JU">Jimma University</option>
					                        				<option value="ASTU">Adama University</option>
					                        			</select>
	                        		    </form>
	                        	</div>

	                        	<div class="col-sm-5">
	                        		<button class="btn btn-primary">Compare</button>
	                        	</div>
	                        </div>
	                        <br>
			 			</div>
			 		</div>

			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-6" data-toggle="collapse" data-parent="#accordion">6. Medewelabu University</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse" id="content-6">
				 			
				 			<div class="row">
				 				<div class="col-xs-12" style="text-align:center;"><h3>Select department to compare</h3></div>
				 			</div>
				 			<div class="row">
					 			<div class="col-sm-6" style="text-align:left; ">
					 			    <div class="col-xs-1"><!--left margin--></div>
					 			    <div class="col-xs-10">
			                            <form action="" class="form">
							                            <label for="department_science" >Natural Science</label><br>
							                            <input type="radio" name="department"> IT <br>
							                            <input type="radio" name="department"> Engineering <br>
							                            <input type="radio" name="department"> Medicine <br>        
					                            </div>
					                            <div class="col-xs-1"><!--right margin--></div>
					                        </div>

					                        <div class="col-sm-6" style="text-align:left; ">
								 			    <div class="col-xs-1"><!--left margin--></div>
								 			    <div class="col-xs-10">      
							                            <label for="department_social" >Social Science</label><br>
							                            <input type="radio" name="department"> Accounting <br>
							                            <input type="radio" name="department"> Economics <br>
							                            <input type="radio" name="department"> Managment <br>
						                            </div>
						                             <div class="col-xs-1"><!--right margin--></div>
						                        </div>
					                        </div>
					                        <br>
					                        <div class="row">
						                        <div class="col-sm-2" style="text-align:center;">
						                        	<span></span>
						                        </div>
					                        	<div class="col-sm-5">
					                        			<select name="compare_with" id="" class="form-control" style="width:80%; margin:5px auto;">
					                        				<option value="null">--Compare with--</option>
					                        				<option value="AAU">Addis Ababa University</option>
					                        				<option value="JU">Jimma University</option>
					                        				<option value="ASTU">Adama University</option>
					                        			</select>
	                        		    </form>
	                        	</div>

	                        	<div class="col-sm-5">
	                        		<button class="btn btn-primary">Compare</button>
	                        	</div>
	                        </div>
	                        <br>
			 			</div>
			 		</div>

			 		<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title"><a href="#content-7" data-toggle="collapse" data-parent="#accordion">7. Wachemo University</a></h4>
			 			</div>
			 			<div class="panel-collapse collapse" id="content-7">
				 			
				 			<div class="row">
				 				<div class="col-xs-12" style="text-align:center;"><h3>Select department to compare</h3></div>
				 			</div>
				 			<div class="row">
					 			<div class="col-sm-6" style="text-align:left; ">
					 			    <div class="col-xs-1"><!--left margin--></div>
					 			    <div class="col-xs-10">
			                            <form action="" class="form">
							                            <label for="department_science" >Natural Science</label><br>
							                            <input type="radio" name="department"> IT <br>
							                            <input type="radio" name="department"> Engineering <br>
							                            <input type="radio" name="department"> Medicine <br>        
					                            </div>
					                            <div class="col-xs-1"><!--right margin--></div>
					                        </div>

					                        <div class="col-sm-6" style="text-align:left; ">
								 			    <div class="col-xs-1"><!--left margin--></div>
								 			    <div class="col-xs-10">      
							                            <label for="department_social" >Social Science</label><br>
							                            <input type="radio" name="department"> Accounting <br>
							                            <input type="radio" name="department"> Economics <br>
							                            <input type="radio" name="department"> Managment <br>
						                            </div>
						                             <div class="col-xs-1"><!--right margin--></div>
						                        </div>
					                        </div>
					                        <br>
					                        <div class="row">
						                        <div class="col-sm-2" style="text-align:center;">
						                        	<span></span>
						                        </div>
					                        	<div class="col-sm-5">
					                        			<select name="compare_with" id="" class="form-control" style="width:80%; margin:5px auto;">
					                        				<option value="null">--Compare with--</option>
					                        				<option value="AAU">Addis Ababa University</option>
					                        				<option value="JU">Jimma University</option>
					                        				<option value="ASTU">Adama University</option>
					                        			</select>
	                        		    </form>
	                        	</div>

	                        	<div class="col-sm-5">
	                        		<button class="btn btn-primary">Compare</button>
	                        	</div>
	                        </div>
	                        <br>
			 			</div>
			 		</div>
			 	</div>
	 			
	 		</div>
	 	
		 	<aside class="col-sm-4" >
 				<div class="thumbnail">
 					<div class="caption">
	 					<h3>Latest News</h3>
				 		<div class="news">
					 		<a href="#" style="text-decoration:none;"><h4 style="color:#31708f;">News 1</h4></a>
					 		<p>This is news 1 which will be retrived from database</p>
					 		<a href="#" style="text-decoration:none;"><h4 style="color:#31708f;">News 2</h4></a>
					 		<p>This is news 2 which will be retrived from database</p>
				 		</div>
 					</div>
 				</div>
		 				 		
 				<div class="thumbnail">
 					<div class="caption">	
	 					<h3>Ads</h3>
				 		<div class="carousel slide" data-ride="carousel" id="carousel-example">
				 			<div class="carousel-inner" role="listbox">
				 				<div class="item active">
				 					<img src="images/1.jpg" alt="slide1" width="100%">
				 					<div class="carousel-caption">
				 						<a href="#" class="btn btn-primary">Visit Site</a>
				 					</div>
				 				</div>

				 				<div class="item">
				 					<img src="images/2.jpg" alt="slide1" width="100%">
				 					<div class="carousel-caption">
				 						<a href="#" class="btn btn-primary">Shop</a>
				 					</div>
				 				</div>

				 				<div class="item">
				 					<img src="images/3.jpg" alt="slide1" width="100%">
				 					<div class="carousel-caption">
				 						<a href="#" class="btn btn-primary">Buy now</a>
				 					</div>
				 				</div>
				 			</div>
				 		</div>
 					</div>
 				</div>
		 				 		
		 	</aside>
	 	</div>

	 	<footer class="row navbar-inverse" style="color:white;text-align:center;">
	 		<div class="col-sm-12">&copy Web-programing I,by Group name</div>
	 	</footer>
	 </div>
	 <script src="js/jquery.js"></script>
	 <script src="js/bootstrap.js"></script>
 </body>
 </html>